* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f4d8b3;
}
.return {
  margin-top: 20px;
  margin-left: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return:hover {
  color: #fff;
}
a {
  text-decoration: none;
  color: black;
}

.trangchu:hover {
  text-decoration: underline;
}
.fa-solid {
  margin-right: 5px;
}

/*  */

.container {
  margin: auto;
  background: white;
  border: 2px solid #cc3333;
  border-radius: 10px;
  padding: 20px;
  width: 800px;
}

h1 {
  margin-top: 40px;
  color: #cc3333;
  text-align: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ten {
  display: flex;
  align-items: center;
  width: 400px;
  font-size: 19px;
}

.search-time {
  position: relative;
}

.search-time .fa-magnifying-glass {
  position: absolute;
  top: 10px;
  left: 320px;
}
.header__top span {
  margin-bottom: 10px;
  margin-right: 40px;
}
.info input {
  border: 1px solid #cc3333;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  margin-right: 5px;
}

.info button {
  border: none;
  background: none;
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  padding-right: 20px;
}

.left-column label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.left-column input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #cc3333;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 1em;
}

.right-column {
  flex: 1;
}
.right-column td {
  height: 40px;
}

.right-column h3 {
  text-align: center;
  color: #cc3333;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #cc3333;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.total-amount {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  color: #cc3333;
}
